<html>
    {% include "snippets/header.html" %}
    <body>
        {% include "snippets/home.html" %}
        <h3>Question {{ question }}</h3>
        <h2>What are top 10 movies with highest rate?</h2>
        <table class="table">
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Average Score</th>
                <th>Count</th>
            </tr>
            {% for row in rows %}
            <tr>
                <th>{{ loop.index }}</th>
                <td>{{ row[0] }}</td>
                <td>{{ row[1]|round(2) }}</td>
                <td>{{ row[2] }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>