<html>
    {% include "snippets/header.html" %}
    <body>
        <h3>Questions</h3>
        <ol>
            <a href="/1"><li>How many movies are in data set?</li></a>
            <a href="/2"><li>What is the most common genre of movie?</li></a>
            <a href="/3"><li>What are top 10 movies with highest rate?</li></a>
            <a href="/4"><li>What are 5 most often rating users?</li></a>
            <a href="/5"><li>When was done first and last rate included in data set and what was the rated movie title?</li></a>
            <a href="/6"><li>Find all movies released in 1990</li></a>
        </ol>  
    </body>
</html>